<!--<div *ngIf="showLista"> 
<table>
<tr>Lista Gallerie</tr>
    <tr *ngFor="let galleria of listaGallerie">{{galleria}} <button>Editing galleria</button><button (click)="visualizzaGalleria()">Visualizza Galleria</button></tr>
</table>
<button (click)="showFormGalleria()">Crea galleria</button>
</div>-->

<div *ngIf="showLista"> 
    <table>
    <tr>Lista Gallerie</tr>
        <tr *ngFor="let galleria of listaGallerie">{{galleria}} <button (click)="showEditingGalleria()">Editing galleria</button>
            <div *ngIf="editingGalleria">
                <div *ngFor="let immaginiRandom of mapImmaginiRandom.values()"> <img src ={{immaginiRandom}}><button (click)="modificaGalleria(galleria, immaginiRandom)">Aggiungi alla galleria</button></div>
                </div><button (click)="visualizzaGalleria(galleria)">Visualizza Galleria</button></tr>
        
    </table>
    <button (click)="showFormGalleria()">Crea galleria</button>
    </div>

<div *ngIf="formAddGalleria">
    <form #myForm="ngForm" (ngSubmit)="addGalleria()">
        <p>
            <label>Nome galleria</label>
            <input type = "text" [(ngModel)] ="nomeGalleria" name = "nomeGalleria" required>
        </p>
        <button type="submit" [disabled]="!myForm.valid">Aggiungi</button>
    </form>
</div>

<div *ngIf="visualizzaGalleriaBool" class="visualizza-galleria">
    <h2>{{galleriaDaMostrare}}</h2>
    <table>
        <tr *ngFor="let immagine of mapImmaginiRandom2.values()"><img src= {{immagine}}></tr>
    </table>