body {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.nome {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 10vh;
    color: var(--secondary);
}
